/* Стили */

.left-block {
    background-color: #99ff99;
}

.test {
    background-color: #99ff99;
    font-size: 20px;
}

.main-block {
    background-color: #93bf9e;
}
.header-journ {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: saddlebrown;
}
.food-class {
    display: grid;
    float: left;
    grid-template-rows: 256px 40px;
    grid-template-columns: 256px;
}