{% extends "base.html" %}

{% block content %}

<center><h1 style="background: #82a88b; color: #000000">О нас</h1></center>

<ul>

<li>
    <p><h2>Кто мы такие?</h2></p>
    <p><h4>Сладкий Лицей - пекарня с доставкой.</h4></p>
</li>

<li>
    <p><h2>Почему вы должны выбрать нас?</h2></p>
    <p><h4>Мы используем только натуральные ингридиенты и выполняем работу качественно.</h4></p>
</li>

<li>
    <p><h2>Наши преимущества</h2></p>
    <p><h4>Мы продаем наши товары по низким ценам по сравнению с другими заведениями.</h4></p>
</li>

<li>
    <p><h2>География</h2></p>
    <p><h4>Наши пекарни находятся более чем в 10 городах России, таких как Москва, Санкт-Петербург, Казань и другие.</h4></p>
</li>

</ul>

<center><h2><a href="/task">Вперед за выпечкой!</a></h2></center>

{% endblock %}