{% extends "base.html" %}


{% block content %}
<h1 style="color: #000000;">Выберите товар, который хотите купить</h1>
<a class="food-class" href="/buy/beliy_hleb"><img src="/static/img/beliy_hleb.png" alt="Белый хлеб"><center><h3>Белый хлеб</h3></center></a>
<a class="food-class" href="/buy/cheburek"><img src="/static/img/cheburek.png" alt="Чебурек"><center><h3>Чебурек</h3></center></a>
<a class="food-class" href="/buy/cherniy_hleb"><img src="/static/img/cherniy_hleb.png" alt="Черный хлеб"><center><h3>Черный хлеб</h3></center></a>
<a class="food-class" href="/buy/djokonda"><img src="/static/img/djokonda.png" alt='Пирожное "Джоконда"'><center><h5>Пирожное "Джоконда"</h5></center></a>
<a class="food-class" href="/buy/echpochmak"><img src="/static/img/echpochmak.png" alt="Эчпочмак"><center><h3>Эчпочмак</h3></center></a>
<a class="food-class" href="/buy/izum"><img src="/static/img/izum.png" alt="Пирожок с изюмом"><center><h4>Пирожок с изюмом</h4></center></a>
<a class="food-class" href="/buy/kapusta"><img src="/static/img/kapusta.png" alt="Пирожок с капустой"><center><h4>Пирожок с капустой</h4></center></a>
<a class="food-class" href="/buy/kruassan"><img src="/static/img/kruassan.png" alt="Круассан"><center><h3>Круассан</h3></center></a>
<a class="food-class" href="/buy/kulich"><img src="/static/img/kulich.png" alt="Кулич"><center><h3>Кулич</h3></center></a>
<a class="food-class" href="/buy/napoleon"><img src="/static/img/napoleon.png" alt='Торт "Наполеон"'><center><h3>Торт "Наполеон"</h3></center></a>
<a class="food-class" href="/buy/pizza"><img src="/static/img/pizza.png" alt="Мини-пицца"><center><h3>Мини-пицца</h3></center></a>
<a class="food-class" href="/buy/ponchik"><img src="/static/img/ponchik.png" alt="Пончик"><center><h3>Пончик</h3></center></a>
<a class="food-class" href="/buy/samsa"><img src="/static/img/samsa.png" alt="Самса"><center><h3>Самса</h3></center></a>
<a class="food-class" href="/buy/vatrushka"><img src="/static/img/vatrushka.png" alt="Ватрушка"><center><h3>Ватрушка</h3></center></a>
<a class="food-class" href="/buy/sosiska"><img src="/static/img/sosiska.png" alt="Ватрушка"><center><h3>Сосиска в тесте</h3></center></a>

{% endblock %}